name: Generate Google fonts index with preview fonts collection

on:
  schedule:
    - cron: "0 0 * * 0" # every sunday midnight
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          ref: "fonts"

      - uses: actions/checkout@v5
        with:
          ref: "main"
          path: "script"
          sparse-checkout: "generate_fonts_data.py"

      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - run: pip install fonttools gftools protobuf gflanguages uharfbuzz

      - name: Download Google fonts
        run: |
          git clone --filter=blob:none --no-checkout --depth 1 https://github.com/google/fonts.git google_fonts
          cd google_fonts
          git sparse-checkout init --cone
          git sparse-checkout set ofl/ apache/ ufl/
          git checkout
          cd ..

      - name: Run indexing script
        run: python script/generate_fonts_data.py ./google_fonts

      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          rm -rf google_fonts script

          gzip  -f previews.ttc

          git add fonts.json previews.ttc.gz

          if ! git diff --cached --exit-code --quiet; then
            git commit -m "Update font index: $(date -u +'%Y-%m-%d %H:%M UTC')"
            git push origin fonts
          else
            echo "No changes detected."
          fi
